################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/OutlookDLP/CopilotIndices/17.14.698.11175
/.vs/OutlookDLP/FileContentIndex
/.vs
